*{
	margin:0;
	padding:0;
	line-height:0;
	overflow:hidden;
}
body{
	background:grey;
}
.squareWidth{
	width:20px;
	height:20px;
	background:#000;
	display:inline-block;
	transition:.15s;
}
#toolbar{
	padding:5px;
}
#toolbar #tools,#color{
	display:inline-block;
}
.tool {
	display:inline-block;
}
.tool img{
	width:24px;
	height:24px;
}
#colorpick{
	height:20px;
	width:166px;
}
#enter{
	margin-right:5px;
	height:24px;
	width:50px;
	cursor:pointer;
}
#tools{
	background:#e3e3e3;
	padding:10px;
	border:1px solid #000;
}
#toolbar #tools .pen img{
	width:24px;
	height:24px;
}
hr{
	background: grey;
	border: 0;
	height: 1px;
	box-sizing:content-box;
	display: block;
}
